[submodule "pagerank/gapbs"]
	path = pagerank/gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "xsbench/XSBench"]
	path = xsbench/XSBench
	url = https://github.com/ANL-CESAR/XSBench.git
[submodule "snappy/snappy"]
	path = snappy/snappy
	url = https://github.com/google/snappy.git
